          /*body*/
body {
    text-align: center;
    font: 15px sans-serif;
    background: fixed border-box linear-gradient(135deg, #eeb42d 9%, #faeac5 47%, #eeb42d 91% ) no-repeat center/100% 180vh;
    background: linear-gradient(to right, #faeac5, #eeb42d );
}

          /*header*/
h1 {
    font-family: Monoton;
    font-size: 1.9em;
    white-space: nowrap;
    animation: h1-animation 2s linear;
    flex-grow: 1;
    text-align: center;
    margin: 0;
    margin-left: 15px;
}

body div.flex-container {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    margin-bottom: 20px;
    margin: 0.2px;
    animation: h1-animation 2s linear;
}


h2 {
    margin: 1px 0px 0.25px;
}

h2:first-of-type {
	font-size: 1.4em;
	font-weight: normal;
    margin-top: 0.5px;
}

@keyframes h1-animation {
    0% {
        text-indent: 0;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    25% {
        text-indent: 0;
        position: absolute;
        top: 37.5%;
        left: 50%;
        transform: translate(-50%, -37.5%);
    }
    50% {
        text-indent: 0;
        position: absolute;
        top: 25%;
        left: 50%;
        transform: translate(-50%, -25%);
    }
    75% {
        text-indent: 0;
        position: absolute;
        top: 12.5%;
        left: 50%;
        transform: translate(-50%, -12.5%);
    }
    100% {
        text-indent: 0;
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -1%);
    }
}

div.hint {
    font: 1em heveltica, sans-serif;
    border-radius: 50%;
    border: 3px solid black;
    font-weight: bold;
    position: relative;
    padding: 0 0.35em;
    text-indent: -1px;
    width: 0.5em;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 11.3px;
    box-shadow: 0 0 5px;
}

div.hint:hover::after {
    content: "click grid cells to fill with color. You can also press down mouse and move through grid cells to conveniently fill larger areas quicker";
    font-size: 0.7em;
    border-radius: 4px;
    outline: 2px solid white;
    border: 5px groove red;
    width: 140px;
    padding: 5px;
    background-color: black;
    color: white;
    position: absolute;
    top: 120%;
    left: -800%;
}

          /*ColorPicker*/
.color-content {
    font-size: 20px;
    margin: 15px;
    font-weight: bolder;
}          

input[type=color] {
	padding: 0.3em;
    border: 1px solid #b9e4e3; 
    border-radius: 20px;
    background: linear-gradient(to right, red, orange, yellow, green, violet, blue, indigo);
    width: 1.8em;
}

          /*Form*/
input[type=number] {
    width: 6.5em;
    border-radius: 10px;
}

input[type=submit] {
    font-size: 15px;
    font-style: italic;
    text-indent: -5px;
    background-color: #b9e4e3;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #777;
    margin: 5px;
}

input[type=submit]:active {
    animation: button 0.5s;
}

input[type=submit]:active, input[type=submit]:focus {
    outline: none !important;
}

@keyframes button {
    from {
        font-size: 15px;
    font-style: italic;
    text-indent: -5px;
    background-color: #b9e4e3;
    border-radius: 10px;
    box-shadow: -5px -5px 2px -5px #777;
    }
    to {
       font-size: 15px;
    font-style: italic;
    text-indent: -5px;
    background-color: #b9e4e3;
    border-radius: 10px;
    box-shadow: 4px 4px 2px #777;
    }
}

.form-space {
    width: 100px ;
    padding:5px;
    display: inline-block;
    margin: 5px;
    font-weight: bold;
}
label[for="colorPicker"] {
	background-image: linear-gradient(to right, red, orange, yellow, green, violet, blue, indigo);
	-webkit-background-clip: text;
	background-clip: text;
	color: transparent;
}        

          /*Table*/
table,
tr,
td {
    border: 1px solid black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
    box-shadow: 0 0 15px #666;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}


    /* Button */

#download-button {
    background-color: silver;
    border-radius: 15px;
    width: 55px;
    height: 27px;
    font-size: 1.2em;
    margin: 20px auto;
    border: 2px outset;
    border-color: white black black white;

}

#download-button:active {
    border: 2px inset;
    border-color: black white white black;
}


a {
    text-decoration: none;
    color: white;
    vertical-align: -2px;
}

          /* Hint */

#hint{
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -55%);
}


#hint-header {
    font-family: Monoton;
    font-size: 1.8em;
    margin: 0.2px;
    white-space: nowrap;
}

div#hint p {
    font: 1.3em serif;
}



                   /*RESPONSIVE STYLES*/

@media screen and (min-width: 440px) and (max-width: 706px) {
    h1{
        font-size: 2.5em;
        text-indent: calc(0.3em + 11.3px);
    }
    #hint-header {
    font-size: 2.5em;
    }

}


@media screen and (min-width: 707px) {
    body {
    font-size: 17px;
    }
    h1{
        font-size: 3.8em;
        text-align: center;
        text-indent: calc(0.3em + 50px);
    }

    #hint-header {
    font-size: 3.8em;
    }

    div.hint {
        margin-right: 50px;
    }
    div.hint:hover::after {
        font-size: 0.75em;
        width: 150px;
        left: -540%;
    }
}
#hint-message {
    font-size: 20px;
    font-weight: bold;
}

